
import 'package:equatable/equatable.dart';
import 'package:flutter_bloc/flutter_bloc.dart';

part  '${inputName}_state.dart';


class ${upperName}Bloc extends Cubit<${upperName}State> {
  ${upperName}Bloc() : super(const ${upperName}State());
}

