

part of '${inputName}_bloc.dart';

class ${upperName}State extends Equatable {
  const ${upperName}State();

    @override
    List<Object?> get props => [];

    ${upperName}State copyWith() => const ${upperName}State();
}

